*{
    background-color: #fefefe;
    font-family: 'Teko', sans-serif;
}
.header-container {
   
}

.main-title{
    text-align: center;
    font-size: 5em;
}

.first-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p1 {
    text-align: center;
    font-size: 1.5em;
}
.ulist {
    font-size: 1.5em;
    
}

.projects {
    
    text-align: center;
    font-size: 3em;
}