body {
    background-color: #dee2e6;
    font-family: 'Teko', sans-serif;
    color: #212529;
}


.main-title{
    text-align: center;
    font-size: 5em;
    
    
}

.first-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p1 {
    text-align: center;
    font-size: 1.5em;
}


.div-box  {
    display: flex;
    justify-content: center;
    background-color: #6c757c;
    border-radius: 5px;
    width: 450px;
    height: 150px;
    font-size: 3em;
    
    
}
.div-box:hover {
    transform: scalex(1.1);
    transition: 6ms;
    
}
a {
    background-color: #6c757c;
    text-decoration: none;
    color: #dee2e6;
}
a:hover {
    color: #212529;
    
   
   
    
    
}

.projects {
    text-align: center;
    font-size: 3em;
}


/*Reponsive */
@media(max-width: 360px) {

    .header-container{
        height: 105px;
        padding-top: 5px;
        
        
        
    }
    
    .main-title {
        margin-top: 1px;
        font-size: 6rem;
         text-transform: uppercase;
    }

    .p1 {
        font-size: 25px;
    }   
    .div-box {
        width: 325px;
    } 
