body {
    background-color: #dee2e6;
    font-family: 'Teko', sans-serif;
    color: #212529;
}


.main-title{
    text-align: center;
    font-size: 5em;
    
    
}

.first-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p1 {
    text-align: center;
    font-size: 1.5em;
}


.div-box  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    
    
}
 
.encryptor-img {
    width: 600px;
    height: 250px;
}
.flex-p2 {
    display: flex;
}

.p2 {
    margin: 5px;
    font-size: 1.3em;
    text-align: center;
    

}

a {
    
    text-decoration: none;
    color: #212529;
}
a:hover {
    color: #6c757c;
    
   
   
    
    
}

.projects {
    text-align: center;
    font-size: 3em;
}


/*Reponsive */
@media(max-width: 360px) {

    .header-container{
        height: 105px;
        padding-top: 5px;
        
        
        
    }
    
    .main-title {
        margin-top: 1px;
        font-size: 6rem;
         text-transform: uppercase;
    }

    .p1 {
        font-size: 25px;
    }   
    .div-box {
        width: 335px;

    } 

    .encryptor-img {
        width: 335px;
        height: 150px;
        
    }
    .flex-p2 {
        margin-left: 20px;
    }